@charset "utf-8";
/*
  headerとindexのレスポンシブデザイン
*/
@media screen and (max-width: 1170px){
  .topTree img{
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 1094px){
  .topName{
    font-size: 60px;
  }
  .topBlocks{
    width: 550px;
    height: 110px;
    top: 40px;
  }
  .topSpeech{
    left: 60px;
  }
  .topSpeech p{
    font-size: 25px;
  }
}
@media screen and (max-width: 970px){
  .headerNaviItems{
    right: 15%;
  }
}
@media screen and (max-width: 890px){
  .headerNaviItems{
    right: 10%;
  }
  .topTree{
    right: 10px;
  }
  .likeContents_topCat_img,
  .likeContents_topComic_img,
  .likeContents_bottomKid_img,
  .likeContents_bottomLive_img{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}
@media (max-width: 768px) {
  .headerLogo{
    left: 20px;
  }
  .headerNaviToggle{
    display: inline;
  }
  .headerNaviItems{
    -webkit-transition:.35s ease-in-out;
    transition:.35s ease-in-out;
    position: absolute;
    top: 100%;
    bottom: auto;
    right: -50%;
    margin: 0;
    width: 50%;
    height: 90vh;
    height: -webkit-calc(100vh - 80px);
    height: calc(100vh - 80px);
  }
  .headerNaviItems ul{
    display: inline;
  }
  .headerNaviItems_item{
    width: 100%;
    height: 80px;
  }
  .headerNaviItems_item a{
    opacity: 0;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
  }
  .topName,
  .topSpeech{
    left: 40px;
  }
  .topName{
    padding-right: 110px;
    top:35%;
    line-height: 1.0;
    font-size: 80px;
    color: #969696;
  }
  .topBlocks{
    top: 0;
    left: auto;
    right: 0;
    width: 300px;
    height: 70px;
  }
  .block-position-bottom{
    top: 0;
  }
  .block1{
    left: 0px;
  }
  .block2{
    -webkit-height: calc(100% + 50% * 1);
    height: calc(100% + 50% * 1);
  }
  .block3{
    -webkit-height: calc(100% + 10% * 2);
    height: calc(100% + 50% * 2);
  }
  .block4{
    -webkit-height: calc(100% + 10% * 3);
    height: calc(100% + 50% * 3);
  }
  .block5{
    -webkit-height: calc(100% + 10% * 4);
    height: calc(100% + 50% * 4);
  }
  .block6{
    -webkit-height: calc(100% + 10% * 5);
    height: calc(100% + 50% * 5);
  }
  .block7{
    -webkit-height: calc(100% + 10% * 6);
    height: calc(100% + 50% * 6);
  }
  .block8{
    -webkit-height: calc(100% + 10% * 7);
    height: calc(100% + 50% * 7);
  }
  .block9{
    -webkit-height: calc(100% + 10% * 8);
    height: calc(100% + 50% * 8);
  }
  .block10{
    -webkit-height: calc(100% + 10% * 9);
    height: calc(100% + 50% * 9);
  }
  .topSpeech{
    top: 70%;
  }
  .introductionWritting{
    width: 510px;
  }
  .introductionWritting p{
    font-size: 12px;
  }
  .skillContents{
    width: 60%;
  }

  .skillContents_left dl,
  .skillContents_right dl{
    padding-left: 30px;
  }
  .skillContents_left dt,
  .skillContents_right dt{
    padding-left: 5px;
    border-left: 3px #fff solid;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .skillContents_left dd,
  .skillContents_right dd{
    padding-left: 10px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .likeTitle{
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .likeContents_img{
    display: none;
  }
  .likeContents_topbottom{
    height: 1000px;
  }
  .likeContents_catInner,
  .likeContents_comicInner,
  .likeContents_kidInner,
  .likeContents_liveInner{
    display: none;
  }
  .likeContents_topCat,
  .likeContents_topComic,
  .likeContents_bottomKid,
  .likeContents_bottomLive{
    position: relative;
    width: 100%;
    height: 25%;
  }
  .likeContents_topCat_img,
  .likeContents_topComic_img,
  .likeContents_bottomKid_img,
  .likeContents_bottomLive_img{
    -webkit-transform: translate(0,-20%);
    transform: translate(0,-20%);
  }
  .likeContents_topCat_body,
  .likeContents_topComic_body,
  .likeContents_bottomKid_body,
  .likeContents_bottomLive_body{
    display: inline;
    z-index: 2;
  }
  .likeContents_topCat_body,
  .likeContents_topComic_body,
  .likeContents_bottomKid_body,
  .likeContents_bottomLive_body{
    top:30%;
  }
  .likeContents_topComic_body,
  .likeContents_bottomLive_body{
    left: 52%;
  }
  /*.topTree{
  z-index: 2;
  right: 10%;
  opacity: 0;
}
.topTree img{
width: 150px;
height: 150px;
}*/
}
@media (max-width: 610px) {
  .introductionWritting{
    width: 90%;
  }
  .introductionWritting p{
    font-size: 11px;
  }
}
@media (max-width: 560px) {
  .topName,
  .topSpeech{
    left: 20px;
  }
  .topName{
    top:35%;
    font-size: 65px;
  }
  .topBlocks{
    width: 200px;
    height: 60px;
  }
  .topSpeech{
    top: 65%;
  }
  .introductionWritting p{
    text-align: left;
  }
  .skillContents_left dl,
  .skillContents_right dl{
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  .topName{
    font-size: 60px;
  }
  .topSpeech p{
    font-size: 25px;
  }
  .likeTitle_main{
    font-size: 28px;
  }
  .likeTitle_sub{
    font-size: 14px;
  }
  .likeContents_topbottom{
    height: 800px;
  }
  .likeContents_topCat_body h2,
  .likeContents_topComic_body h2,
  .likeContents_bottomKid_body h2,
  .likeContents_bottomLive_body h2{
    width: 110px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .likeContents_topCat_body p,
  .likeContents_topComic_body p,
  .likeContents_bottomKid_body p,
  .likeContents_bottomLive_body p{
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
  }

}
@media (max-width: 414px) {
  .topName{
    top:35%;
    padding-right: 50px;
    font-size: 50px;
  }
  .topBlocks{
    width: 160px;
    height: 60px;
  }
  .topSpeech{
    top: 60%;
  }
  .topSpeech p{
    font-size: 20px;
  }
  .introductionTriangle,
  .skillTriangle{
    bottom: -25px;
    width: 50px;
    height: 50px;
  }
  .introductionTitle,
  .skillTitle{
    padding-top: 50px;
    font-size: 36px;
  }
  .likeTitle{
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .likeContents_topCat_img,
  .likeContents_topComic_img,
  .likeContents_bottomKid_img,
  .likeContents_bottomLive_img{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    width: auto;
    height: 140%;
    }
}
/*
.topTree{
position: absolute;
z-index: 3;
top:200px;
right: 10%;
opacity: 0;
}
.topTree img{
width: 300px;
height: 300px;
}
